<!DOCTYPE html>
{% load leaflet_tags %}
{% load static %}
<html lang="en">
<head>
{% leaflet_js %}
{% leaflet_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    
    <meta charset="UTF-8">
    <style type='text/css'>
        #gis {width:100%; height:100vh; position: relative}
    </style>
    <title> Anchors </title>
</head>

<body>
<div id="gis"></div>
</body>

    <script type = "text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
    <script type = "text/javascript" src="{% static 'dist/leaflet-providers.js' %}"></script>
    
    <script type = "text/javascript">
        function createCircleMarker( feature, latlng ){
            let options = {
                radius: getRadius(feature.properties.drift_radi),
                color: getcolor(feature.properties.iso3),
                stroke:false,
                weight: 1,
                opacity: 1
            }
            return L.circleMarker( latlng, options );
        }

        function getRadius(drif_radi){
            return 4;
        }

        function getcolor(iso3){
            if( iso3 == "IND")
                return "#e6194B";
            if( iso3 == "IDN")
                return "#3cb44b";
            if( iso3 == "THA")
                return "#ffe119";
            if( iso3 == "MYS")
                return "#f58231";
            if( iso3 == "VNM")
                return "#911eb4";
            if( iso3 == "BRN")
                return "#f032e6";
            if( iso3 == "PHL")
                return "#800000";
            if( iso3 == "MMR")
                return "#000075";
            if( iso3 == "KHM")
                return "#9A6324";
            if( iso3 == "SGP")
                return "#4363d8";
        }

    </script>

    <script type = "text/javascript">
        var mymap = L.map('gis').setView([5, 100], 5);

        L.tileLayer.provider('Stadia.AlidadeSmoothDark').addTo(mymap);

        
        var overlayMaps = {};
        {% for country in countries %}
            console.log("{% url 'load_anchors' country %}");
            var layer = new L.GeoJSON.AJAX("{% url 'load_anchors' country %}",{
                        pointToLayer: createCircleMarker});
            overlayMaps["{{country}}"] = layer
        {% endfor %}


        // var baselayer1 =  L.tileLayer.provider('Stamen.Watercolor');
        var baselayer2 =  L.tileLayer.provider('Stadia.AlidadeSmoothDark');
        var baselayer3 = L.tileLayer.provider('Esri.WorldImagery');
        var baseMaps = { 
            // "layer1" : baselayer1, 
            "Dark" : baselayer2,
            "Satellite" : baselayer3,
        };

        L.control.layers(baseMaps, overlayMaps).addTo(mymap);

    </script>

</html>